@model Mostremais.Site.Models.ProdutoSubcategoriaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@if(Model != null) { 
    <div>
        <h4>ProdutoSubcategoriaViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Categoria.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categoria.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.SubcategoriaId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    @Html.Partial("~/Views/Shared/nadaretornado.cshtml");
}